.login-modal {
    position: fixed;
    top: 30vh;
    left: calc(50% - 15rem);
    width: 30rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
    border-radius: 7px;
  }
  
  .login-modal h2 {
    margin: 0;
    padding: 1rem;
    background: #a84b0e;
    color: white;
    border-radius: 7px 7px 0 0;
  }
  
  .login-modal__actions {
      display: flex;
      justify-content: flex-end;
      padding: 0 0.5rem;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
  }
  .login-modal button{
    font: inherit;
    border: 1px solid #faf8fa;
    border-radius: 15px;
    background:  rgb(168, 113, 50);
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
    width: 10em;
    position: relative;
    margin-left: 10rem;
}