.card{
    background:  rgb(192, 171, 141);;
    box-shadow: 0 8px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    margin-right:10px;
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 15px;
    margin-top: 15px;
    width: 96%
}
.card p{
    font-weight: bold;
    margin-left: 4rem;
}
.card h1{
  position:relative;
  color:rgb(43, 20, 2);
  left: 30px;
  font-size: 50px;
  margin-left: 32px;
}
.card h2{
  position:relative;
  color:rgb(43, 20, 2);
  left: 0px;
  font-size: 30px;
  margin-left: 32px;
}